* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    position: relative;
}
.banner p {
    font-weight: 300;
    color: #fff;
}

section.banner {
    width: 100%;
    min-height: 100vh;
    background: url('https://i.postimg.cc/RhR7WGFh/banner1.jpg') top center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content h1 {
    font-size: 70px;
    color: #fff;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}


.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

header.sticky {
    padding: 10px 100px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .nav li a {
    color: #000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
} 

header .logo span {
    color: #ff0157;
}

header .nav {
    list-style: none;
    position: relative;
    display: flex;
}

header .nav li {
    margin-left: 30px;
}

header .nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header .nav li a:hover {
    color: #ff0157;
}

section {
    padding: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.row .col50 {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    font-size: 1.5em;
    color: #ff0157;
    font-weight: 700;
}

.row .col50 .img img {
    width: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1200px;
}



.content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.content .box:hover {
    width: 350px;
}

.content .box:hover h3 {
    letter-spacing: 1px;
}

.content .box .img {
    position: relative;
    width: 100%;
    height: 300px;
}

.content .box .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .box .text {
    padding: 15px 0 5px;
}

.content .box .text h3 {
    font-weight: 400;
    color: #111;
    transition: 0.5s;
}

.expert {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expert .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1200px;
}


section.testimonials {
    width: 100%;
    min-height: 100vh;
    background: url('https://i.postimg.cc/RhR7WGFh/banner1.jpg') bottom center / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials .title h2,
.testimonials .title p {
    color: #fff;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.testimonials .content .someone {
    background-color: #fff;
    width: 340px;
    height: 430px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}


.content .someone .img {
    position: relative;
    width: 90px;
    height: 90px;

}

.content .someone .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 75px;
}


.content .someone .comment {
    max-width: 300px;
    text-align: center;
}

.content .someone .name {
    color: #ff0157;
}


section.contact {
    height: 100vh;
    background: url("https://i.postimg.cc/jRqv9fmF/pexels-andreea-ch-3969097.jpg") left center / cover;
}

.contact .content {
    width: 40%;
    min-width: 220px;
    max-width: 420px;
    height: 370px;
    margin-top: 50px;
    padding: 30px;
    background-color: rgb(253, 249, 249);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .content .input {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .content .input input {
    padding: 10px;
    border: solid 1.5px;
}

.contact .content .input .message {
    padding: 20px;
}

.contact .content button {
    width: 80px;
    height: 40px;
    background-color: #ff0157;
    border: none;
}

.contact .content button h4 {
    transition: 0.5s;
    letter-spacing: 1px;

}


.contact .content button:hover h4 {
    letter-spacing: 2px;
}


.menu-popup {
    position: fixed;
    top: 71px;
    left: 110%;
    width: 100%;
    height: 95vh;
    z-index: 1000000;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    transition: 0.5s;
}

.background {
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.5;
}

.background.active {
    position: fixed;
    top: 71px;
    width: 100%;
    height: 95vh;
    z-index: 1000000;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-popup ul {
    width: 50%;
    height: 100%;
    padding-top: 30px;
    background-color: #fff;

}

.menu-popup li {
    list-style-type: none;
    width: 100%;
}

.menu-popup li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}

.menu-popup li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-menu {
    display: none;
    line-height: 71px;
}

.active {
    left: 0;
}

@media only screen and (max-width: 1000px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
    header {
        padding: 40px 40px;
        color: #fff;
    }

    header.sticky {
        padding: 10px 60px;
        color: #000;
    }

    header.active2 {
        padding: 10px 60px;
        color: #000;
        background-color: #fff;
    }

    header.active2 .logo {
        color: #111;
    }

    header .nav {
        display: none;
    }


    .icon-menu {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        z-index: 1000000000;
        cursor: pointer;
        display: block;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row .col50 {
        width: 90%;
    }

    .row .col50 .img {
        margin-top: 20px;
    }
}
